# Sesion 1 Introduccion a Python

In [ ]:
print("Hola, Mundo O&M")

## Variables

Estilo utilizado es snake_case.

In [ ]:
universidad = "O&M"
estudiantes_informatica = 150
costo_por_ano = 6998.00
estoy_activo = True

- No se declara el tipo explicitamente
- Las varaibles se crean al asignarles un valor
- ⚠️ No hay cheque de tipos

In [ ]:
universidad = 453

## Tipos de datos básicos (Atomicos)

- `int` — enteros
- `float` — decimales
- `str` — texto
- `bool` — verdadero/falso
- `None` — valor vacío

### La funcion type()

In [ ]:
print(type(universidad))
print(type(estudiantes_informatica))
print(type(costo_por_ano))
print(type(estoy_activo))

## String en Python

In [ ]:
mensaje = "Hola, Mundo O&M!"  # double quote
mensaje = 'Hola, Mundo O&M!'  # single quote
mensaje = """Hola, Mundo O&M!"""  # Multilinea
print(mensaje)

In [ ]:
print(mensaje)
print(len(mensaje))
print("*" * 30)
print(mensaje[0])
print(mensaje[7:12])
print(mensaje[-1])
print(mensaje[::-1])
print(mensaje[::2])
print(mensaje[0:10:2])

### Metodos para strings

In [ ]:
mensaje.count("a")
# mensaje.find("a")
# mensaje.endswith("!")
# "O&M" in mensaje
# mensaje.
# estudiantes_informatica.

### Formateando strings

**formateo tradicional**

In [ ]:
nombre = "Juan"
edad = 25
print("Me llamo ", nombre, " y tengo ", edad, " años.")
print("Me llamo " + str(nombre) + " y tengo " + str(edad) + " años.")
print("Me llamo %s y tengo %d años." % (nombre, edad))

**Usando f strings**

In [ ]:
saludos = f"Me llamo {nombre} y tengo {edad} años."
print(saludos)

In [ ]:
valor = 123.0
print(f"Valor: {valor:0.2f}")

## Entrada de datos con input()

- `input()` siempre devuelve texto `str`.
- Para usar números, debes convertir con `int()` o `float()`.
- Puede crear errores si no se convierte correctamente.

In [ ]:
nombre = input("¿Cómo te llamas? ")
print("Hola ", nombre)

### Conversion de tipos

**Funciones útiles:**
- `int()`  
- `float()`  
- `str()`

In [ ]:

valor = "123"
print(type(valor))
valor = int(valor)
print(type(valor),valor)
valor = float(valor)
print(type(valor),valor)
valor = str(valor)
print(type(valor),valor)

#int(nombre)

## Operadores Aritmeticos

In [ ]:
a = 10
b = 3
print(a + b)   # 13
print(a - b)   # 7
print(a * b)   # 30
print(a / b)   # 3.333
print(a // b)  # 3
print(a % b)   # 1
print(a ** b)  # 1000

[Modular math ](https://colab.research.google.com/github/gypsaman/Python-ML/blob/master/slides/modular_math.pdf)

In [ ]:
valor = valor + 10
valor += 10
print(valor)
valor /= 2
print(valor)
valor *= 3
print(valor)

In [ ]:
import math
valor_coseno = math.cos(math.pi)
print(valor_coseno)
#math.

# Operadores de comparación

- `==` igual  
- `!=` diferente  
- `<` menor  
- `>` mayor  
- `<=` menor o igual  
- `>=` mayor o igual  

todos estos operadores retornan `True` o `False`

In [ ]:
valor == 244.5

### Operadores logicos

- and
- or
- not

In [ ]:
edad = 20
tiene_licencia = True

puede = edad >= 18 and tiene_licencia
puede

`and` para cuando encuentra el primer valor `False`  
`or` para cuando encuentra el primer valor `True`

In [ ]:
x = 0
x != 0 and (10 / x > 1)   # la segunda parte nunca es evaluada, no hay error

### Evaluacion de la verdad, falsedad

0, "", [], {}, None → tratado como False

todo lo demas → tratado como True

In [ ]:
"" or "hello"

## Mini app para calcular propinas

In [ ]:
monto = float(input("Monto de la cuenta: "))
porcentaje = float(input("Porcentaje de propina: "))
personas = int(input("Número de personas: "))

propina = monto * (porcentaje / 100)
total = monto + propina
por_persona = total / personas

print("*" * 30)
print(f"Propina: {propina:.2f}")
print(f"Total a pagar: {total:.2f}")
print(f"Cada persona paga: {por_persona:.2f}")

# Errores comunes de principiantes
- Olvidar convertir valores ingresados con `input()`
- Comillas mal cerradas en strings
- Confundir `=` (asignación) con `==` (comparación)
- Fallas en indentación